Repository morning-night-guild/platform, pull requests merged in 2022-12, with the labels that each got.

#180 #161 |で連結されたURLが来た場合、最初のURLを取り出すよう修正
  .github/workflows/supabase.test.yml
  supabase/functions/slack/index.test.ts
  supabase/functions/slack/index.ts
Labels: backend

#182 #181 supabaseのジョブの発火条件を調整
  .github/workflows/supabase.deploy.yml
  .github/workflows/supabase.test.yml
  supabase/.vscode/settings.json
  supabase/Makefile
  supabase/README.md
  supabase/functions/slack/index.test.ts
  supabase/functions/slack/index.ts
Labels: backend

#184 #183 アクセスログを実装
  backend/app/core/driver/interceptor/interceptor.go
  backend/app/core/driver/middleware/middleware.go
  backend/app/core/driver/server/server.go
  backend/go.mod
  backend/go.sum
Labels: backend

#188 #187 DockerHubへコンテナイメージをプッシュするジョブを追加
  .github/workflows/backend.container.push.yml
Labels: backend, job

#194 #193 go,modとgo.sumに変更があった場合にCIが実行されるように設定
  .github/workflows/backend.container.push.yml
  .github/workflows/backend.diff.yml
Labels: backend, api, job

#196 #195 Goの依存関係を更新
  backend/Makefile
  backend/go.mod
  backend/go.sum
Labels: backend

#203 #202 wireを使わずに依存性を解決するように修正
  .github/workflows/backend.lint.yml
  api/buf.backend.gen.yaml
  api/connect/article/v1/article.proto
  api/connect/health/v1/health.proto
  backend/Makefile
  backend/app/core/adapter/controller/article.go
  backend/app/core/adapter/controller/article_test.go
  backend/app/core/adapter/controller/health.go
  backend/app/core/adapter/controller/health_test.go
  backend/app/core/driver/server/server.go
  backend/app/core/main.go
  backend/app/core/wire.go
  backend/app/core/wire_gen.go
  backend/go.mod
  backend/go.sum
  backend/pkg/connect/article/v1/article.pb.go
  backend/pkg/connect/article/v1/articlev1connect/article.connect.go
  backend/pkg/connect/health/v1/health.pb.go
  backend/pkg/connect/health/v1/healthv1connect/health.connect.go
  backend/pkg/connect/proto/health/v1/health.pb.go
  frontend/src/api/connect/article/v1/article_connectweb.ts
  frontend/src/api/connect/article/v1/article_pb.ts
  frontend/src/api/connect/health/v1/health_connectweb.ts
  frontend/src/api/connect/health/v1/health_pb.ts
  frontend/src/swr/useApiArticle.ts
  frontend/yarn.lock
Labels: backend, frontend, api

#206 #205 不要なインフラ構築コードを削除
  .github/actions/common/gcloud/action.yml
  .github/actions/infra/deploy/cockroach/action.yml
  .github/actions/infra/deploy/gcp/action.yml
  .github/actions/infra/setup/action.yml
  .github/workflows/infra.cockroach.deploy.yml
  .github/workflows/infra.cockroach.lint.yml
  .github/workflows/infra.cockroach.plan.yml
  .github/workflows/infra.cockroach.preview.yml
  .github/workflows/infra.gcp.deploy.yml
  .github/workflows/infra.gcp.lint.yml
  .github/workflows/infra.gcp.plan.yml
  .github/workflows/infra.gcp.preview.yml
  .github/workflows/infra.image.clean.yml
  infra/cockroach/.gitignore
  infra/cockroach/.terraform.lock.hcl
  infra/cockroach/main.tf
  infra/gcp/.gitignore
  infra/gcp/.terraform.lock.hcl
  infra/gcp/main.tf
  infra/gcp/secret_manager.tf
  infra/gcp/service_accout.tf
Labels: infra

#207 #204 イメージビルド後platform-manifestにPRを立てる
  .github/workflows/backend.container.push.yml
Labels: job

#209 #208 記事共有のエンドポイントの変更に対応
  supabase/functions/slack/index.ts
Labels: bug

#214 #213 apiディレクトリ名を修正
  .github/workflows/api.lint.yaml
  api/Makefile
  api/buf.backend.gen.yaml
  api/buf.frontend.gen.yaml
  api/proto/article/v1/article.proto
  api/proto/health/v1/health.proto
  backend/app/core/adapter/controller/article.go
  backend/app/core/adapter/controller/article_test.go
  backend/app/core/adapter/controller/health.go
  backend/app/core/adapter/controller/health_test.go
  backend/app/core/driver/server/server.go
  backend/pkg/connect/health/v1/health.pb.go
  backend/pkg/connect/proto/article/v1/article.pb.go
  backend/pkg/connect/proto/article/v1/articlev1connect/article.connect.go
  backend/pkg/connect/proto/health/v1/health.pb.go
  backend/pkg/connect/proto/health/v1/healthv1connect/health.connect.go
  frontend/src/api/connect/proto/article/v1/article_connectweb.ts
  frontend/src/api/connect/proto/article/v1/article_pb.ts
  frontend/src/api/connect/proto/health/v1/health_connectweb.ts
  frontend/src/api/connect/proto/health/v1/health_pb.ts
  frontend/src/swr/useApiArticle.ts
  supabase/functions/slack/index.ts
Labels: api

#229 #228 go.modを整頓
  backend/go.mod
Labels: backend

#231 #230 NewRelicにレポートを送信
  .docker/.env
  .docker/docker-compose.yaml
  backend/app/core/adapter/controller/article.go
  backend/app/core/adapter/controller/article_test.go
  backend/app/core/adapter/controller/health.go
  backend/app/core/driver/config/config.go
  backend/app/core/driver/config/config_test.go
  backend/app/core/driver/env/env.go
  backend/app/core/driver/env/env_test.go
  backend/app/core/driver/newrelic/nwerelic.go
  backend/app/core/driver/server/router.go
  backend/app/core/driver/server/server.go
  backend/app/core/main.go
  backend/go.mod
  backend/go.sum
Labels: backend

#239 #238 tag名を書き換える処理を修正
  .github/workflows/backend.container.push.yaml
Labels: job
