Repository morning-night-guild/platform, pull requests merged in 2022-09, with the labels that each got.

#7 #5 ドキュメントを自動生成するCIを追加
  .github/workflows/api.document.yml
  README.md
Labels: documentation

#12 #9 CIにてprotoファイルの静的解析を実施
  .github/workflows/api.lint.yml
  api/Makefile
  api/article/v1/article.proto
Labels: api

#16 #11 mainへのマージ時、goファイルに変更があったときのみテスト・カバレッジが走るよう修正
  .github/workflows/backend.test.yml
Labels: backend
