Repository morning-night-guild/platform, pull requests merged in 2022-10, with the labels that each got.

#42 #38 connectのエラーレスポンスへと修正
  backend/app/core/adapter/controller/error.go
  backend/go.mod
  backend/go.sum
Labels: backend

#46 #31 ロギング機能を実装
  backend/Makefile
  backend/app/core/adapter/controller/article.go
  backend/app/core/adapter/controller/error.go
  backend/app/core/adapter/gateway/article.go
  backend/app/core/driver/middleware/middleware.go
  backend/app/core/driver/server/server.go
  backend/go.mod
  backend/go.sum
  backend/pkg/log/context.go
  backend/pkg/log/log.go
Labels: backend

#39 #35 Slackとの連携機能を追加
  backend/.golangci.yml
  backend/func/slack/.ko.yml
  backend/func/slack/main.go
  backend/go.mod
  backend/go.sum
Labels: backend

#47 #6 記事共有サービスの自動デプロイを設定
  .github/workflows/container.push.yml
  backend/app/core/.ko.yml
  backend/app/core/cloudbuild.yaml
  container/builder/Dockerfile
  container/deployer/Dockerfile
Labels: backend

#48 #43 記事一覧を取得するAPIを実装
  api/article/v1/article.proto
  backend/app/core/adapter/controller/article.go
  backend/app/core/adapter/controller/article_test.go
Labels: api

#51 #43 記事一覧取得機能を実装
  api/article/v1/article.proto
  backend/.golangci.yml
  backend/Makefile
  backend/app/core/adapter/controller/article.go
  backend/app/core/adapter/controller/article_test.go
  backend/app/core/adapter/controller/token.go
  backend/app/core/adapter/controller/token_test.go
  backend/app/core/adapter/gateway/article.go
  backend/app/core/adapter/gateway/article_test.go
  backend/app/core/adapter/gateway/ogp.go
  backend/app/core/adapter/gateway/rdb.go
  backend/app/core/model/article.go
  backend/app/core/model/article/tag_list.go
  backend/app/core/model/article/tag_list_test.go
  backend/app/core/model/article_test.go
  backend/app/core/usecase/interactor/article/list.go
  backend/app/core/usecase/interactor/article/list_test.go
  backend/app/core/usecase/interactor/article/share_test.go
  backend/app/core/usecase/mock/article.go
  backend/app/core/usecase/mock/ogp.go
  backend/app/core/usecase/port/article.go
  backend/app/core/usecase/repository/article.go
  backend/app/core/usecase/repository/repository.go
  backend/app/core/usecase/repository/repository_test.go
  backend/app/core/wire.go
Labels: backend

#59 #58 zapを用いるように修正
  backend/app/slack/.ko.yml
  backend/app/slack/cloudbuild.yaml
  backend/app/slack/main.go
Labels: backend

#62 #61 ステータスコードが200以外ではogpは作成しないように修正
  backend/app/core/adapter/controller/error.go
  backend/app/core/adapter/gateway/ogp.go
  backend/app/core/model/errors/url_error.go
Labels: bug, backend

#66 #65 connectコード生成をfrontendとbackendで分割するように設定
  .github/workflows/backend.lint.yml
  .github/workflows/backend.test.yml
  .github/workflows/document.yml
  api/.gitignore
  api/Makefile
  api/buf.backend.gen.yaml
  api/buf.frontend.gen.yaml
  api/package-lock.json
  api/package.json
  backend/app/core/cloudbuild.yaml
  backend/app/slack/cloudbuild.yaml
Labels: api

#69 #68 CORS対応
  backend/app/core/driver/server/server.go
  backend/go.mod
  backend/go.sum
Labels: backend

#64 #63 記事一覧画面を実装
  frontend/.gitignore
  frontend/.prettierrc
  frontend/deploy.sh
  frontend/index.html
  frontend/package.json
  frontend/public/logo.png
  frontend/public/noimage.png
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/main.tsx
  frontend/src/page/Article/ArticleCard.tsx
  frontend/src/page/Article/index.tsx
  frontend/src/page/Header.tsx
  frontend/src/swr/transport.ts
  frontend/src/swr/useApiArticle.ts
  frontend/src/theme.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: frontend

#82 #81 Vercelへのデプロイが必要な時のみ走るようにする
  frontend/vercel-deploy-check.sh
Labels: frontend

#72 #21 golangci-lintのバージョンを更新
  backend/aqua.yaml
Labels: backend

#76 #75 CIにてコンテナの脆弱性を診断するように設定
  .github/workflows/backend.vulnerability.yml
Labels: backend, job

#86 #83 frontendの静的解析をCIにて実行するように設定
  .github/actions/frontend/setup/action.yml
  .github/workflows/frontend.lint.yml
Labels: frontend, job

#95 #84 デプロイ時に必要なコンテナをGoogle管理のものに移行する
  .github/workflows/container.push.yml
  backend/app/core/cloudbuild.yaml
  backend/app/slack/cloudbuild.yaml
Labels: infra

#102 #101 ko build時にSBOMが作られないようにする
  backend/app/core/cloudbuild.yaml
  backend/app/slack/cloudbuild.yaml
Labels: backend

#104 #103 koビルド時にリポジトリ名の後につくランダムな文字列をなくす
  backend/app/core/cloudbuild.yaml
  backend/app/slack/cloudbuild.yaml
Labels: backend

#105 chore(#103) リポジトリ名を補足
  backend/app/core/cloudbuild.yaml
  backend/app/slack/cloudbuild.yaml
Labels: backend

#108 #107 日次で不要なコンテナを削除するバッチを実装
  .github/workflows/infra.image.clean.yml
Labels: infra, job

#109 #106 cloudbuild.ymlをリファクタリング
  backend/app/core/cloudbuild.yaml
  backend/app/slack/cloudbuild.yaml
  container/builder/Dockerfile
  container/deployer/Dockerfile
  infra/cloudbuild/cloudbuild.app.core.yaml
  infra/cloudbuild/cloudbuild.app.slack.yaml
  infra/cloudbuild/script/build.sh
Labels: infra
