Repository morning-night-guild/platform, pull requests merged in 2022-11, with the labels that each got.

#116 #107 シークレット名を修正
  .github/workflows/infra.image.clean.yml
Labels: infra, job

#120 #107 オーディエンス名を修正
  .github/workflows/infra.image.clean.yml
Labels: infra, job

#130 #129 aquaもrenovate対象となるように設定
  renovate.json
Labels: job

#138 #137 イメージクリーン用のサービスアカウントを他と統一する
  .github/workflows/infra.image.clean.yml
Labels: bug, job

#141 #122 cockroachのTerraformファイルを追加
  .github/actions/infra/deploy/cockroach/action.yml
  .github/actions/infra/setup/action.yml
  .github/workflows/infra.cockroach.deploy.yml
  .github/workflows/infra.cockroach.lint.yml
  .github/workflows/infra.cockroach.preview.yml
  infra/cockroach/.gitignore
  infra/cockroach/.terraform.lock.hcl
  infra/cockroach/main.tf
Labels: infra, job

#142 #122 prodのdownload_tfstateをtrueにする
  .github/workflows/infra.cockroach.deploy.yml
  .github/workflows/infra.cockroach.lint.yml
Labels: infra, job

#149 #147 CloudRunへのデプロイを修正
  .github/actions/backend/container/action.yml
  .github/actions/common/gcloud/action.yml
  .github/workflows/backend.container.deploy.core.yml
  .github/workflows/backend.container.deploy.slack.yml
  infra/cloudbuild/cloudbuild.app.core.yaml
  infra/cloudbuild/cloudbuild.app.slack.yaml
  infra/cloudbuild/script/build.sh
Labels: backend, infra, job

#154 #153 フロントエンドについて、renovateのPRの頻度を調整
  renovate.json
Labels: renovate

#157 #139 自動生成コードを追加
  .github/actions/backend/container/action.yml
  .github/actions/backend/setup/action.yml
  .github/workflows/backend.coverage.yml
  .github/workflows/backend.diff.yml
  .github/workflows/backend.lint.yml
  .github/workflows/backend.test.yml
  .github/workflows/backend.vulnerability.yml
  .github/workflows/document.yml
  backend/.gitignore
  backend/app/core/wire_gen.go
  backend/pkg/connect/article/v1/article.pb.go
  backend/pkg/connect/article/v1/articlev1connect/article.connect.go
  backend/pkg/ent/article.go
  backend/pkg/ent/article/article.go
  backend/pkg/ent/article/where.go
  backend/pkg/ent/article_create.go
  backend/pkg/ent/article_delete.go
  backend/pkg/ent/article_query.go
  backend/pkg/ent/article_update.go
  backend/pkg/ent/articletag.go
  backend/pkg/ent/articletag/articletag.go
  backend/pkg/ent/articletag/where.go
  backend/pkg/ent/articletag_create.go
  backend/pkg/ent/articletag_delete.go
  backend/pkg/ent/articletag_query.go
  backend/pkg/ent/articletag_update.go
  backend/pkg/ent/client.go
  backend/pkg/ent/config.go
  backend/pkg/ent/context.go
  backend/pkg/ent/ent.go
  backend/pkg/ent/enttest/enttest.go
  backend/pkg/ent/hook/hook.go
  backend/pkg/ent/migrate/migrate.go
  backend/pkg/ent/migrate/schema.go
  backend/pkg/ent/mutation.go
  backend/pkg/ent/predicate/predicate.go
  backend/pkg/ent/runtime.go
  backend/pkg/ent/runtime/runtime.go
  backend/pkg/ent/tx.go
Labels: backend

#158 #139 自動生成コードを追加(フロントエンドのみ)
  .github/workflows/frontend.diff.yml
  frontend/.gitignore
  frontend/deploy.sh
  frontend/package.json
  frontend/src/api/article/v1/article_connectweb.ts
  frontend/src/api/article/v1/article_pb.ts
Labels: frontend

#160 #159 bufに関するインストールをaquaを利用するように修正
  .github/workflows/api.lint.yml
  .github/workflows/frontend.diff.yml
Labels: frontend, api, job

#164 #163 docker-compose環境を整備
  .docker/.env
  .docker/Makefile
  .docker/core/Dockerfile
  .docker/docker-compose.yml
  README.md
  backend/.gitignore
  backend/Makefile
Labels: backend

#169 #168 Slackサーバー脱CloudRun
  .github/workflows/supabase.deploy.yml
  supabase/.gitignore
  supabase/.vscode/settings.json
  supabase/config.toml
  supabase/functions/slack/index.ts
  supabase/seed.sql
Labels: backend

#170 #168 README.mdのディレクトリ構成の説明を修正
  README.md
Labels: document

#172 #171 SlackアプリのCloud Run関連のファイルを削除
  .github/actions/infra/deploy/gcp/action.yml
  .github/workflows/backend.container.deploy.slack.yml
  .github/workflows/backend.vulnerability.yml
  .github/workflows/infra.gcp.deploy.yml
  .github/workflows/infra.gcp.lint.yml
  .github/workflows/infra.gcp.plan.yml
  .github/workflows/infra.gcp.preview.yml
  .github/workflows/infra.image.clean.yml
  backend/app/slack/.ko.yml
  backend/app/slack/main.go
  backend/go.mod
  backend/go.sum
  infra/gcp/main.tf
  infra/gcp/secret_manager.tf
Labels: backend, infra, job
