Repository morning-night-guild/platform, pull requests merged in 2023-01, with the labels that each got.

#241 #238 CIのタグ指定を修正
  .github/workflows/backend.container.push.yaml
Labels: job

#243 #238 job名を修正
  .github/workflows/backend.container.push.yaml
Labels: job

#252 #251 e2eテストを追加
  .github/workflows/backend.e2e.yaml
  backend/.gitignore
  backend/Makefile
  backend/README.md
  backend/e2e/article/client.go
  backend/e2e/article/share_test.go
  backend/e2e/health/check_test.go
  backend/e2e/health/client.go
  backend/e2e/helper/api_key.go
  backend/e2e/helper/endpoint.go
  backend/e2e/helper/transport.go
Labels: backend

#256 #253 slackからイベントを取得した時点でOGP取得も行うよう修正
  .github/workflows/supabase.test.yaml
  supabase/.gitignore
  supabase/Makefile
  supabase/deno.json
  supabase/deno.lock
  supabase/functions/slack/index.ts
  supabase/import_map.json
Labels: backend

#270 #253 依存関係の定義にimport_map.jsonを使うのをやめる
  .github/workflows/supabase.test.yaml
  supabase/deno.json
  supabase/deno.lock
  supabase/functions/slack/index.ts
  supabase/import_map.json
Labels: backend

#277 #276 repositoryディレクトリを移動
  backend/Makefile
  backend/internal/adapter/controller/article.go
  backend/internal/adapter/controller/article_test.go
  backend/internal/adapter/controller/error.go
  backend/internal/adapter/controller/token.go
  backend/internal/adapter/controller/token_test.go
  backend/internal/adapter/gateway/article.go
  backend/internal/adapter/gateway/article_test.go
  backend/internal/domain/model/article.go
  backend/internal/domain/model/article/description.go
  backend/internal/domain/model/article/description_test.go
  backend/internal/domain/model/article/id.go
  backend/internal/domain/model/article/id_test.go
  backend/internal/domain/model/article/tag.go
  backend/internal/domain/model/article/tag_list.go
  backend/internal/domain/model/article/tag_list_test.go
  backend/internal/domain/model/article/tag_test.go
  backend/internal/domain/model/article/thumbnail.go
  backend/internal/domain/model/article/thumbnail_test.go
  backend/internal/domain/model/article/title.go
  backend/internal/domain/model/article/title_test.go
  backend/internal/domain/model/article/url.go
  backend/internal/domain/model/article/url_test.go
  backend/internal/domain/model/article_test.go
  backend/internal/domain/model/errors/url_error.go
  backend/internal/domain/model/errors/validation_error.go
  backend/internal/domain/repository/article.go
  backend/internal/domain/repository/repository.go
  backend/internal/domain/repository/repository_test.go
  backend/internal/usecase/interactor/article/list.go
  backend/internal/usecase/interactor/article/list_test.go
  backend/internal/usecase/interactor/article/share.go
  backend/internal/usecase/interactor/article/share_test.go
  backend/internal/usecase/mock/article.go
  backend/internal/usecase/port/article.go
Labels: backend

#281 #280 ciを修正
  .github/workflows/api.lint.yaml
  .github/workflows/backend.container.push.yaml
  .github/workflows/backend.coverage.yaml
  .github/workflows/backend.diff.yaml
  .github/workflows/backend.lint.yaml
  .github/workflows/backend.test.e2e.yaml
  .github/workflows/backend.test.unit.yaml
  .github/workflows/backend.vulnerability.yaml
  .github/workflows/document.yaml
  .github/workflows/frontend.diff.yaml
  .github/workflows/frontend.lint.yaml
  .github/workflows/supabase.deploy.yaml
  .github/workflows/supabase.test.yaml
  .github/workflows/yaml.lint.yaml
Labels: job

#284 #283 ネクストトークン型名を修正
  backend/internal/adapter/controller/article.go
  backend/internal/adapter/controller/next_token.go
  backend/internal/adapter/controller/next_token_test.go
  backend/internal/adapter/controller/token.go
Labels: backend

#286 #285 testに関する実装がtesting.Tに依存するように修正
  backend/internal/adapter/controller/article_test.go
  backend/internal/adapter/gateway/article_test.go
  backend/internal/adapter/mock/article.go
  backend/internal/usecase/interactor/article/list_test.go
  backend/internal/usecase/interactor/article/share_test.go
  backend/internal/usecase/mock/article.go
Labels: backend

#296 #295 connect-webのバージョンを0.5.0に戻す
  frontend/package.json
Labels: frontend

#298 #295 connect-goの仕様に合わせてCORSの設定を修正
  .docker/docker-compose.yaml
  .github/workflows/backend.container.push.yaml
  .github/workflows/backend.test.e2e.yaml
  backend/cmd/core/main.go
  backend/internal/driver/config/config.go
  backend/internal/driver/config/config_test.go
  backend/internal/driver/server/cors.go
  backend/internal/driver/server/cors_test.go
  backend/internal/driver/server/server.go
  backend/pkg/log/log.go
Labels: backend

#303 #302 記事一覧をread moreボタンで20ずつ取得するよう修正
  frontend/src/page/Article/index.tsx
  frontend/src/swr/useApiArticle.ts
Labels: frontend
