Repository morning-night-guild/platform, pull requests merged in 2023-02, with the labels that each got.

#313 #312 frontendのREADMEを追加
  frontend/README.md
  frontend/package.json
Labels: document, frontend

#315 #314 ローカル開発環境を整備
  .docker/.env.local
  .docker/.gitignore
  .docker/Makefile
  .docker/README.md
  .docker/core/.gitignore
  .docker/docker-compose.yaml
  .docker/migrate/.gitignore
  .docker/web/Dockerfile
  Makefile
  api/Makefile
  backend/Makefile
  supabase/Makefile
  supabase/README.md
  supabase/deno.json
Labels: backend, frontend, api

#325 #324 OpenAPIを追加
  .github/workflows/api.lint.yaml
  .github/workflows/backend.diff.yaml
  .github/workflows/document.yaml
  .github/workflows/frontend.diff.yaml
  .yamlfmt
  api/.spectral.json
  api/Makefile
  api/aqua.yaml
  api/openapi.yaml
  api/package-lock.json
  api/package.json
  api/registry.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/openapi/client.gen.go
  backend/pkg/openapi/server.gen.go
  backend/pkg/openapi/types.gen.go
  frontend/src/openapi/.openapi-generator-ignore
  frontend/src/openapi/.openapi-generator/FILES
  frontend/src/openapi/.openapi-generator/VERSION
  frontend/src/openapi/apis/ArticleApi.ts
  frontend/src/openapi/apis/HealthApi.ts
  frontend/src/openapi/apis/index.ts
  frontend/src/openapi/index.ts
  frontend/src/openapi/models/Article.ts
  frontend/src/openapi/models/ListArticleResponse.ts
  frontend/src/openapi/models/index.ts
  frontend/src/openapi/runtime.ts
Labels: api

#328 #327 manifest更新方法を修正
  .github/workflows/backend.deploy.yaml
  .github/workflows/document.yaml
Labels: backend

#329 #327 tag変数を修正
  .github/workflows/backend.deploy.yaml
Labels: backend, job

#338 #337 フロントエンドをappapiに対応
  .docker/README.md
  .docker/docker-compose.yaml
  .github/workflows/frontend.lint.yaml
  frontend/package.json
  frontend/src/api/connect/proto/article/v1/article_connectweb.ts
  frontend/src/api/connect/proto/article/v1/article_pb.ts
  frontend/src/api/connect/proto/health/v1/health_connectweb.ts
  frontend/src/api/connect/proto/health/v1/health_pb.ts
  frontend/src/page/Article/index.tsx
  frontend/src/swr/client.ts
  frontend/src/swr/transport.ts
  frontend/src/swr/useApiArticle.ts
Labels: frontend

#340 #339 protoファイルを移行 & 不要となったcore実装を削除
  .docker/core/.gitignore
  .docker/core/Dockerfile
  .docker/docker-compose.yaml
  .github/actions/backend/container/action.yaml
  .github/workflows/api.lint.yaml
  .github/workflows/backend.buf.lint.yaml
  .github/workflows/backend.deploy.yaml
  .github/workflows/backend.diff.yaml
  .github/workflows/document.yaml
  .github/workflows/frontend.diff.yaml
  api/Makefile
  api/aqua.yaml
  api/buf.frontend.gen.yaml
  api/package-lock.json
  api/package.json
  api/registry.yaml
  backend/Makefile
  backend/aqua.yaml
  backend/cmd/core/.ko.yaml
  backend/cmd/core/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/driver/config/config.go
  backend/internal/driver/config/config_test.go
  backend/internal/driver/server/cors.go
  backend/internal/driver/server/cors_test.go
  backend/internal/driver/server/server.go
  backend/proto/article/v1/article.proto
  backend/proto/buf.gen.yaml
  backend/proto/health/v1/health.proto
  backend/registry.yaml
Labels: backend

#342 #341 記事共有機能を実装
  .docker/docker-compose.yaml
  .github/workflows/supabase.deploy.yaml
  api/openapi.yaml
  backend/cmd/appapi/main.go
  backend/cmd/appcore/main.go
  backend/e2e/appapi/article/list_test.go
  backend/e2e/appapi/article/share_test.go
  backend/e2e/appcore/article/list_test.go
  backend/e2e/appcore/article/share_test.go
  backend/e2e/helper/connect.go
  backend/e2e/helper/openapi.go
  backend/e2e/helper/util.go
  backend/internal/adapter/api/api.go
  backend/internal/adapter/api/api_test.go
  backend/internal/adapter/api/article.go
  backend/internal/adapter/api/helth.go
  backend/internal/adapter/controller/article.go
  backend/internal/adapter/controller/article_test.go
  backend/internal/adapter/controller/controller.go
  backend/internal/adapter/controller/controller_test.go
  backend/pkg/openapi/client.gen.go
  backend/pkg/openapi/server.gen.go
  backend/pkg/openapi/types.gen.go
  frontend/src/openapi/.openapi-generator/FILES
  frontend/src/openapi/apis/ArticleApi.ts
  frontend/src/openapi/models/V1ShareArticleRequest.ts
  frontend/src/openapi/models/index.ts
  supabase/functions/slack/index.ts
Labels: backend

#344 #343 不要なビルドタグを削除
  .github/workflows/backend.test.e2e.yaml
  .github/workflows/backend.vulnerability.yaml
  backend/.gitignore
  backend/Makefile
  backend/e2e/appapi/article/list_test.go
  backend/e2e/appapi/article/share_test.go
  backend/e2e/appapi/health/check_test.go
  backend/e2e/appcore/article/list_test.go
  backend/e2e/appcore/article/share_test.go
  backend/e2e/appcore/health/check_test.go
Labels: backend

#346 #345 dockerイメージタグを指定するように修正
  .docker/.env.local
  .docker/appapi/Dockerfile
  .docker/appcore/Dockerfile
  .docker/docker-compose.yaml
  .docker/migrate/Dockerfile
  .docker/web/Dockerfile
Labels: backend
